[Unit]
Description=Crusoe Telemetry Agent: vector.dev based telemetry agent for crusoe resources
After=docker.service
Requires=docker.service

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
WorkingDirectory=/etc/crusoe/telemetry_agent
ExecStart=/usr/bin/docker compose -f /etc/crusoe/telemetry_agent/docker-compose-vector.yaml up
ExecStop=/usr/bin/docker compose -f /etc/crusoe/telemetry_agent/docker-compose-vector.yaml down

[Install]
WantedBy=multi-user.target