services:
  crusoe-dcgm-exporter:
    image: nvidia/dcgm-exporter:4.1.1-4.0.4-ubuntu22.04
    container_name: crusoe-dcgm-exporter
    hostname: crusoe-dcgm-exporter
    cap_add: [SYS_ADMIN]
    volumes:
      - /etc/crusoe/telemetry_agent/dcp-metrics-included.csv:/etc/dcgm-exporter/dcp-metrics-included.csv:ro
    command: -f /etc/dcgm-exporter/dcp-metrics-included.csv
    ports:
      - "9400-9425:9400"
    privileged: true
    networks:
      - crusoe-metrics-network
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "2g"
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]

  crusoe-vector:
    image: timberio/vector:0.46.1-debian
    container_name: crusoe-vector
    hostname: crusoe-vector
    ports:
      - "8686-8700:8686"
    volumes:
      - /etc/crusoe/telemetry_agent/vector.yaml:/etc/vector/vector.yaml:ro
    env_file:
      - ./.env
    depends_on:
      - crusoe-dcgm-exporter
    privileged: true
    networks:
      - crusoe-metrics-network
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "1g"
    # Delay start of vector to wait for dcgm-exporter container to start
    entrypoint: /bin/sh -c "sleep 5 && /usr/bin/vector --config /etc/vector/vector.yaml"

networks:
  crusoe-metrics-network:
    driver: bridge