apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-reloader-config
  namespace: crusoe-system
data:
  config.yaml: |
    dcgm_metrics:
      port: {{ .Values.metricsExporter.defaultDcgmExporterPort }}
      path: {{ .Values.metricsExporter.defaultMetricsPath }}
      scrape_interval: {{ .Values.metricsExporter.defaultScrapeInterval }}
    custom_metrics:
      port: {{ .Values.metricsExporter.defaultMetricsPort }}
      path: {{ .Values.metricsExporter.defaultMetricsPath }}
      scrape_interval: {{ .Values.metricsExporter.defaultScrapeInterval }}
    sink:
      endpoint: {{ if and .Values.useProxy .Values.endpoints.proxy }}{{ .Values.endpoints.proxy | quote }}{{ else }}{{ index .Values.endpoints .Values.environment | quote }}{{ end }}
    log_level: {{ .Values.logLevel }}
{{- if .Values.secrets.useProvidedMonitoringToken }}
    CRUSOE_MONITORING_TOKEN: {{ .Values.secrets.monitoringToken | quote }}
{{- end }}
