apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-reloader-config
  namespace: crusoe-system
data:
  config.yaml: |
    # configuration for dcgm-exporter pods
    dcgm:
      namespace: nvidia-gpu-operator
      label_selector: app=nvidia-dcgm-exporter
      port: 9400
      path: /metrics
      scheme: http
      scrape_interval: 60

    # configuration for custom metrics
    custom_metrics:
      port: 9100
      path: /metrics
      scheme: http
      scrape_interval: 60
      annotation_key: crusoe.custom_metrics.scrape
